<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<%= link_to 'Edit', edit_static_company_path(@company) %> |
<%= link_to 'Back', static_companies_path %>
